<h2>Bienvenide!</h2>
<form method="post" action="/">
  <label for="nom">Nombre:</label><br>
  <input type="text" id="nom" name="nom"><br>
  <label for="ape">Apellido:</label><br>
  <input type="text" id="ape" name="ape"><br><br>
  <input type="submit" value="Saludar">
</form>